[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
app = "python3 app.py"
shell = "flask shell"
test = "python -m pytest"

[packages]
flask="*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
